.text {
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 16px;
  color: black;
}
.text-block {
  justify-content: center;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}
.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.base-content {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.base-span {
  height: 49px;
}


mat-grid-tile {
  background: lightblue;
}
mat-tab-group {
  background: #faf9fd;
}

mat-toolbar {
  position: fixed;
  height: 64px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.toolbar-text {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
}
.toolbar-title-button {
  border: none;
  background-color: inherit;
  font-size: 20px;
}
.toolbar-title-button:hover {
  text-decoration-line: underline;
  text-decoration-color: black;
}
.toolbar-icon {
  color: red;

  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar-icon-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar-icon-button:hover{
  text-transform: uppercase;
}

.toolbar-spacer {
  height: 64px;
}

.menu-icon-div {
  width: 155px;
  flex-grow: inherit;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.menu-icon {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
  justify-content: left;
}
.menu-span {
  flex: 4;
}


.main-span {
  height: 100px;
}
.main-contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-contents-div {
  flex: 1;
  text-align: center;

}
.main-contents-button {
  background-color: transparent;
  border: none;
}
.main-contents-img {
  min-width: 275px;
  width: 75%;

  border: solid;
  border-radius: 25px;
}
.main-contents-img:hover {
  border-color: red;
}
.main-contents-text {
  font-size: 25px;
  font-weight: bold;
}
.vid-block {
  background-color: white;
}
.vid-text {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
}
app-youtube {
  display: inline-flex;
}

.spacer {
  height: 500px;
}