<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="toolbar-icon-button" title="menu">
    <div class="toolbar-icon-div">
      <i class="fa-solid fa-bars toolbar-icon"></i>
    </div>
  </button>
  <button (click)="toggle('home')" class="toolbar-title-button">
    <span class="toolbar-text">itsbensmall</span>
  </button>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="toggle('projects')" class="toolbar-icon-button" title="projects" >
    <div class="toolbar-icon-div">
      <i class="fa-solid fa-code toolbar-icon"></i>
    </div>
  </button>
  <button mat-icon-button (click)="toggle('redcube')" class="toolbar-icon-button" title="redcube">
    <div class="toolbar-icon-div">
      <i class="fa-solid fa-cube toolbar-icon"></i>
    </div>
  </button>
</mat-toolbar>


<!--for the Menu selector section-->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="toggle('about_me')">
    <div class="mat-mdc-menu-item menu-icon-div">
      <i class="fa-solid fa-film menu-icon"></i>
      <span class="menu-span">its me</span>
    </div>
  </button>
  <button mat-menu-item (click)="toggle('projects')">
    <div class="mat-mdc-menu-item menu-icon-div">
      <i class="fa-solid fa-code menu-icon"></i>
      <span class="menu-span">projects</span>
    </div>
  </button>
  <button mat-menu-item (click)="toggle('redcube')">
    <div class="mat-mdc-menu-item menu-icon-div">
      <i class="fa-solid fa-cube menu-icon"></i>
      <span class="menu-span">games</span>
    </div>
  </button>
  <button mat-menu-item (click)="toggle('contact_me')" disabled>
    <div class="mat-mdc-menu-item menu-icon-div">
      <i class="fa-solid fa-mobile-screen menu-icon"></i>
      <span class="menu-span">contact me</span>
    </div>
  </button>
</mat-menu>


<!--for the Projects section-->
<mat-tab-group *ngIf="display['projects'] || display['redcube'] || display['about_me']">
  <div class="tabs">
    <mat-tab *ngIf="display['about_me']" label="it's me"></mat-tab>



    <mat-tab *ngIf="display['projects']" label="webscrapper">
    </mat-tab>
    <mat-tab *ngIf="display['projects']" label="this website">
      <div></div>
    </mat-tab>
    <mat-tab *ngIf="display['projects']" label="phi3 chat">
    </mat-tab>
    <mat-tab label="redcube">
      <app-game></app-game>
    </mat-tab>
  </div>
</mat-tab-group>

<!--for the redcube section
<mat-tab-group *ngIf="display['redcube']">
  <div class="tabs">
    <mat-tab label="the redcube">
      <app-game></app-game>
    </mat-tab>
  </div>
</mat-tab-group> -->



<!--
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>Hey Tope</mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
-->