
mat-grid-tile {
  background: lightblue;
}
mat-tab-group {
  background: #faf9fd;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.toolbar-text {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.toolbar-title-button {
  border: none;
  background-color: inherit;
  font-size: 20px;
}
.toolbar-title-button:hover {
  text-decoration-line: underline;
}
.toolbar-icon {
  color: red;

  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar-icon-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar-icon-button:hover{
  text-transform: uppercase;
}

.menu-item {
  display: flex;
  flex-direction: row;
}