<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="toolbar-icon-button">
    <div class="toolbar-icon-div">
      <i class="fa-solid fa-bars toolbar-icon"></i>
    </div>
  </button>
  <button class="toolbar-title-button">
    <span class="toolbar-text">itsbensmall</span>
  </button>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="toggleVisibility()" class="toolbar-icon-button" >
    <div class="toolbar-icon-div">
      <i class="fa-solid fa-code toolbar-icon"></i>
    </div>
  </button>
  <button mat-icon-button class="toolbar-icon-button">
    <div class="toolbar-icon-div">
      <i class="fa-solid fa-cube toolbar-icon"></i>
    </div>
  </button>
</mat-toolbar>


<!--for the Menu selector section-->
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <i class="fa-solid fa-cube toolbar-icon"></i>
    <span>about me</span>
  </button>
  <button mat-menu-item (click)="toggleVisibility()">
    <i class="fa-solid fa-cube toolbar-icon"></i>
    <span>projects</span>
  </button>
  <button mat-menu-item disabled>
    <i class="fa-solid fa-cube toolbar-icon"></i>
    <span>contact me</span>
  </button>
</mat-menu>



<!--for the Projects section-->
<mat-tab-group *ngIf="showDisplay">
  <div class="tabs">
    <mat-tab label="webscrapper">
    </mat-tab>
    <mat-tab label="this website">
      <div></div>
    </mat-tab>
    <mat-tab label="phi3 chat">
    </mat-tab>
    <mat-tab label="redcube">
      <app-game></app-game>
    </mat-tab>
  </div>
</mat-tab-group>


<!--
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>Hey Tope</mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
-->