<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="toolbar-icon-button" title="menu">
    <div class="toolbar-icon-div">
      <i class="fa-solid fa-bars toolbar-icon"></i>
    </div>
  </button>
  <button (click)="toggle('home'); togglescroll('on')" class="toolbar-title-button">
    <span class="toolbar-text">itsbensmall</span>
  </button>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="toggle('projects'); togglescroll('off')" class="toolbar-icon-button" title="projects" >
    <div class="toolbar-icon-div">
      <i class="fa-solid fa-code toolbar-icon"></i>
    </div>
  </button>
  <button mat-icon-button (click)="toggle('redcube'); togglescroll('off')" class="toolbar-icon-button" title="redcube">
    <div class="toolbar-icon-div">
      <i class="fa-solid fa-cube toolbar-icon"></i>
    </div>
  </button>
</mat-toolbar>

<div class="toolbar-spacer"></div>

<!--for the Menu selector section-->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="toggle('about_me'); togglescroll('off')">
    <div class="mat-mdc-menu-item menu-icon-div">
      <i class="fa-solid fa-film menu-icon"></i>
      <span class="menu-span text">its me</span>
    </div>
  </button>
  <button mat-menu-item (click)="toggle('projects'); togglescroll('off')">
    <div class="mat-mdc-menu-item menu-icon-div">
      <i class="fa-solid fa-code menu-icon"></i>
      <span class="menu-span text">projects</span>
    </div>
  </button>
  <button mat-menu-item (click)="toggle('redcube'); togglescroll('off')">
    <div class="mat-mdc-menu-item menu-icon-div">
      <i class="fa-solid fa-cube menu-icon"></i>
      <span class="menu-span text">games</span>
    </div>
  </button>
  <button mat-menu-item (click)="toggle('contact_me'); togglescroll('off')" disabled>
    <div class="mat-mdc-menu-item menu-icon-div">
      <i class="fa-solid fa-mobile-screen menu-icon"></i>
      <span class="menu-span text">contact me</span>
    </div>
  </button>
</mat-menu>



<!-- For main menu-->
<div *ngIf="display['home']" class="base">
  <div class="base-content">
    <div class="base-span mat-tab"></div>
    <app-pics></app-pics>
    <app-img></app-img>
    <app-youtube></app-youtube>
    <div class="spacer"></div>
  </div>
</div>



<!--for the Projects section-->
<mat-tab-group *ngIf="display['projects'] || display['redcube'] || display['about_me']">
  
  <div class="tabs text">
    <mat-tab *ngIf="display['about_me']">
      <ng-template mat-tab-label>
        <span class="text">it's me</span>
      </ng-template>
    </mat-tab>


    <mat-tab *ngIf="display['projects']">
      <ng-template mat-tab-label>
        <span class="text">webscrapper</span>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="display['projects']">
      <ng-template mat-tab-label>
        <span class="text">this website</span>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="display['projects']">
      <ng-template mat-tab-label>
        <span class="text">phi3 chat</span>
      </ng-template>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text">redcube</span>
      </ng-template>
      <app-game></app-game>
    </mat-tab>
  </div>
</mat-tab-group>










<!--for the redcube section
<mat-tab-group *ngIf="display['redcube']">
  <div class="tabs">
    <mat-tab label="the redcube">
      <app-game></app-game>
    </mat-tab>
  </div>
</mat-tab-group> -->

<!--
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>Hey Tope</mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
-->