
mat-grid-tile {
  background: lightblue;
}
mat-tab-group {
  background: #faf9fd;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.toolbar-text {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
}
.toolbar-title-button {
  border: none;
  background-color: inherit;
  font-size: 20px;
}
.toolbar-title-button:hover {
  text-decoration-line: underline;
  text-decoration-color: black;
}
.toolbar-icon {
  color: red;

  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar-icon-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolbar-icon-button:hover{
  text-transform: uppercase;
}


.menu-icon-div {
  width: 155px;
  flex-grow: inherit;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.menu-icon {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
  justify-content: left;

}
.menu-span {
  flex: 4;
}